<div  [hidden]="submitted " style=" ">
<form [formGroup]="contactPost" (ngSubmit)=" onSubmit()">
  <!--   <div class="alert alert-danger"  *ngIf="errormessage">
   {{ errormessage}}
       </div>
       -->
  <div class="form-group">
    <label for="userId">User Id</label>
    <input formControlName="userId" type="number" id="userId" class="form-control" [class.is-invalid]="userId.invalid && userId.touched"  
     required [(ngModel)]="posts.userId" name="userId" >
  <!--{{userId.className}}-->   
    <div class="text text-danger" *ngIf="userId.invalid && userId.touched ">

      <small *ngIf="userId.errors"> Id required</small>
    </div>
 <small class="text text-danger" [class.d-none]="userId.valid || userId.untouched">To creating a post; User Id is required!!</small>

 
 <!--<div   class="tetx text-danger" *ngIf="!isEqual" >Invalid Id!!!</div>-->
    <!--<div *ngFor="let u of users_s |async ; let ux = index" [hidden]="posts.userId === u.id" >
      <small class="text-danger" *ngIf="posts.userId !== u.id"> INVALID ID</small>
    </div>--> 
    <!--<div *ngIf="!isEqual" >invaliddd</div>-->
  </div>
  <div class="form-group">
    <label >Post Id</label>
    <input formControlName="id" type="text" class="form-control"  required [(ngModel)]="posts.id">
  </div>
  <div class="form-group">
    <label >title</label>
    <input formControlName="title" type="text" class="form-control"  required [(ngModel)]="posts.title">
  </div>

 <div class="form-group">
    <label >body</label>
    <input formControlName="body" type="text" class="form-control"  required [(ngModel)]="posts.body">
  </div>
  <button class="btn btn-success" type="submit">Post Submit</button>
</form>
</div>
<div [hidden]="!submitted" style=" ">
  <h1>created succesfully</h1>
  <button class="btn btn-success" (click)="newPost()">If you wish ,add Post again</button>
</div>